.footer {
    position:absolute;
    left:0;
    right:0;
    margin-top: 100vh;
    width:100vw;
    height: 70px;
    background: rgba(1,0,4,0.92);
    text-align: center;
}
.valve{
    color: #cbd5e0;
    height: 50px;
    width: 100px;

}
.text{
    color: #cbd5e0;
}
