.div{
    float: top;
    background-color: #171a21;
    height: 105px;
    display:block;
}
/* Home */

.Home{
    display: inline-block;
    font-size: 14px;
    position: relative;
    padding-top: 35px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
.Home+.Home{
    margin-left: 10px;
}
.Home:hover{
    color: white;
}
/* Auth */
.Auth{
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-decoration: none;
    float: top;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}
.Home+.Auth{
    padding-left: 400px;
}
.Auth+.Auth{
    margin-left: 10px;
}
.Auth:hover {
    color: white;
}

.button{
float: right;
    border: none;
    border-radius: 10px;
    height: 35px;
    color: #718096;
    background: #2d3748;
    font-size: 20px;
    font-weight: bold;
    margin-top: 9px;
}
.button:hover{
    background: #718096;
    color: #cbd5e0;
}
.search{
    float: right;
    border-radius: 10px;
    width: 350px;
    height: inherit;
}
.searchinput{
    margin-top: 8px;
    border-radius: 10px;
    height: 40px;
}
.formlogout{
    float: right;
    border-radius: 10px;
    width: 350px;
    height: inherit;
}
.number{
    font-size: 25px;
    font-weight: bold;
    background: black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.number:hover{
    color: darkred;
}
.steampng{
    margin-top: 0px;
    height: 40px;
    width: 40px;
    margin-left: 500px;
}
.list li{
    display: none;
}
.list:hover li{
    display: block ;
}
