.product{
    float: left;
    width: inherit;
    height: 170px;
    background: #718096;
}
.img{



}
.divs{
    border: #1a202c;
    border-style: solid;
    border-radius: 10px;
    background: #4a5568;
    float: left;
    margin-left:20px;
    width: 80px;
    height: 60px;
    float: left;
    color: #a0aec0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.add{

}
.card-text{
    font-weight: bold;
}
.addto{
    background: #0bff00;
    border: #0bff00;
    font-weight: bold;
}
